<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FreshCoN</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!--Employee dash --> 
<servlet>
        <servlet-name>ViewEmployee</servlet-name>
        <servlet-class>freshco.Control.ViewEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewEmployee</servlet-name>
        <url-pattern>/ViewEmployees</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>ViewCustomer</servlet-name>
    <servlet-class>freshco.Control.ViewCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>ViewCustomer</servlet-name>
    <url-pattern>/ViewCustomers</url-pattern>
    </servlet-mapping>
    
    
    
     <!--Customer dash -->
    
    <servlet>
        <servlet-name>ViewCustomer</servlet-name>
        <servlet-class>freshco.Control.ViewCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCustomer</servlet-name>
        <url-pattern>/ViewCustomers</url-pattern>
    </servlet-mapping>
    
    
    
      <!--Enquiry dash -->
    
    <servlet>
        <servlet-name>ViewEnquiry</servlet-name>
        <servlet-class>freshco.Control.ViewEnquiry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewEnquiry</servlet-name>
        <url-pattern>/ViewEnquiry</url-pattern>
    </servlet-mapping>
    
    
    
    
       <!--Payment dash -->
    
    <servlet>
        <servlet-name>ViewPayment</servlet-name>
        <servlet-class>freshco.Control.ViewPayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewPayment</servlet-name>
        <url-pattern>/ViewPayment</url-pattern>
    </servlet-mapping>
    
    
    
    
</web-app>